<h2 id="title">ember-dragula</h2>




{{#gestures-container}}

  {{#drag-container}}

    {{#drag-group}}

      {{#drag-item}}
        Drag Item
      {{/drag-item}}

    {{/drag-group}}

  {{/drag-container}}

{{/gestures-container}}


{{outlet}}
