<h2 id="title">ember-dragula</h2>




{{#gestures-container}}

  {{#drag-container}}

    {{#drag-group}}

      {{#drag-item}}
        Group 1 - Drag Item 1
      {{/drag-item}}

    {{/drag-group}}

    {{#drag-group}}

      {{#drag-item}}
        Group 2 - Drag Item 1
      {{/drag-item}}
      {{#drag-item}}
        Group 2 - Drag Item 2
      {{/drag-item}}

    {{/drag-group}}

  {{/drag-container}}

{{/gestures-container}}


{{outlet}}
